h1 {
    margin-top: 300px;
    text-align: center;
    color: white;
}

body {
    background-color: black;
}

button {
    border-radius: 10px;
    border: none;
    outline: none;
    color: white;
}

button:hover {
    background-color: rgb(196, 196, 196);
}

.numButt {
    background-color: rgb(55, 55, 55);
    font-weight: bold;
    font-size: 20px;
}
.opButt {
    background-color:  orange;
    font-weight: bold;
    font-size: 20px;
}

#equal {
    background-color: orange;
    font-weight: bold;
    font-size: 20px;
}

#equal:hover {
    background-color: rgb(196, 196, 196);
}

#dot {
    background-color: rgb(55, 55, 55);
    font-weight: bold;
    font-size: 20px;
}

#dot:hover {
    background-color: rgb(196, 196, 196);
}

#clear {
    background-color: rgb(170, 170, 170);
}

#clear:hover {
    background-color: rgb(196, 196, 196);
}

#percent {
    background-color: rgb(170, 170, 170);
}

#percent:hover {
    background-color: rgb(196, 196, 196);
}

#signChange {
    background-color: rgb(170, 170, 170);
}

#signChange:hover {
    background-color: rgb(196, 196, 196);
}

#calcContainer {
    display: grid;
    margin: 30px auto 0px auto;
    border-radius: 10px;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: repeat(6, 50px);
    gap: 5px;
    background-color: rgb(0, 0, 0);
    width: 215px;
    height: 325px;
    grid-template-areas: 
        "display display display display"
        "clear signChange percent divide"
        "seven eight nine multiply"
        "four five six subtract"
        "one two three sum"
        "zero zero dot equal"
}

#screen {
    grid-area: display;
    margin: 10px 0 0 0;
    color: white;
    font-size: 30px;
    text-align:end;
    padding: 0px 20px 0px 20px;
}
#zero {
    grid-area: zero;
}
#dot {
    grid-area: dot;
}
#one {
    grid-area: one;
}
#two {
    grid-area: two;
}
#three {
    grid-area: three;
}
#four {
    grid-area: four;
}
#five {
    grid-area: five;
}
#six {
    grid-area: six;
}
#seven {
    grid-area: seven;
}
#eight {
    grid-area: eight;
}
#nine {
    grid-area: nine;
}
#equal {
    grid-area: equal;
}
#sum {
    grid-area: sum;
}
#subtract {
    grid-area: subtract;
}
#multiply {
    grid-area: multiply;
}
#divide {
    grid-area: divide;
}
#clear {
    grid-area: clear;
}
#signChange {
    grid-area: signChange;
}
#percent {
    grid-area: percent;
}